Checks: >
  -*,                # Disable all checks by default
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-convert-member-functions-to-static

CheckOptions:                 # Limit function size for readability
  - key: bugprone-argument-comment.StrictMode
    value: '1'                # Enforce strict argument comments

WarningsAsErrors: '-*'
